{% extends "base.html" %}
{% load cms_tags %}
{% block body_class %}museum home{% endblock %}
{% block intersite-link %}
    {% placeholder intersite_link%}    
{% endblock %}
{% block logo %}<img src="{{STATIC_URL}}img/friends-logo.png"/>{% endblock %}
{% block base_content %}
    <div class="leftColumn">
	<div class="thumb" id="collier">
	   <h3>Collier County Museum</h3>
	</div>
	<div class="thumb" id="immokalee">
	   <h3>Immokalee Pioneer Museum</h3>
	</div>
	<div class="thumb" id="everglades">
	   <h3>Museum of the Everglades</h3>
	</div>		
	<div class="thumb" id="depot">
	   <h3>Naples Depot Museum</h3>
	</div>
	<div class="thumb" id="marco">
	   <h3>Marco Island Historical Museum</h3>
	</div>
    </div>
    <div class="centerColumn">
	{% placeholder home_content %}
    </div>
    <div class="rightColumn">
	<div class="r-col-spot">
	    {% placeholder r_col_spot1 %}
	</div>	
	<div class="r-col-spot">
	    {% placeholder r_col_spot2 %}
	</div>
	<div class="r-col-spot">
	    {% placeholder r_col_spot3 %}
	</div>
	<div class="r-col-spot">
	    {% placeholder r_col_spot4 %}
	</div>    
    </div>
{% endblock %}